* {margin: 0; padding: 0;}
body {background: #e2e2e2;}
.caroussel-wrapper {width: 833px; margin: 0 auto;overflow: hidden; height: 500px; margin-top: 100px;}
#caroussel-list {width: 10000px; list-style: none; position: relative; height: 500px; left: 0px; padding-left: 33px;}
#caroussel-list li {width: 805px; height: 500px; float: left; padding: 0px;}
#caroussel-list img {border-radius: 8px;}
.arrow {position: relative; background: url('../img/caroussel-arrows.png'); z-index: 3; cursor: pointer; width: 33px; height: 33px;}
.previous {top: 250px;float:left;background-position: 67px 32px;display: none;}
.next {bottom: 250px;float: right;background-position: 99px 32px;}